.header {

    &__top-wrapper {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    &__top {
        display: flex;
        background-color: #EFEFEF;
        height: 85px;
        justify-content: center;
        align-items: center;
    }

    &__top-city {
        display: flex;
        // justify-content: center;
        width: 143px;
        margin: 31px 0;
        margin-right: 65px;
    }

    &__top-city summary::-webkit-details-marker {
        display: none;
    }

    &__top-city summary {
        list-style: none;
        list-style-type: none;
    }

    &__top-phone {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 28px 0;
        margin-right: 25px;
    }

    &__top-separator {
        width: 1px;
        height: 35px;
        background-color: $secondary-grey;
        margin-right: 25px;
    }

    &__top-link {
        width: 110px;
        margin: 28px 0;
        margin-right: 25px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__top-request {
        display: flex;
        gap: 10px;
        margin: 23px 0;
    }

    &__menu {
        border-bottom: 1px solid $secondary-grey;
    }

    &__menu-item {
        display: flex;
        gap: 110px;
        padding: 15px 0;
    }
}

.city__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city__drop {
    background: none;
    border: none;
    font-family: $text-font-stack;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: underline;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

}

.city__drop::after {
    content: url(/assets/img/arrow.svg);
    display: block;
    width: 7px;
    height: 5px;
}