.intro {
    &__wrapper {
        display: flex;

    }

    &__book {
        margin-right: 81px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &-header {
            margin-bottom: 25px;
            width: 509px;
        }

        &-text {
            width: 409px;

        }

        &-text:before {
            content: "";
            display: block;
            height: 1px;
            width: 48px;
            background-color: $text-color;
            margin-right: 10px;
        }

        &-btn {
            display: flex;
            gap: 15px;
            margin-top: 50px;
        }
    }
}