.btn {
    padding: 10px 17px;
    border-radius: 5px;
    font-size: 13px;
    list-style: 20px;

    &--green {
        background-color: $primary-green;
        color: $primary-white;
        border: none;
    }

    &--yellow {
        border: 2px solid $primary-yellow;
    }

}